<div class="row">
    <div class="col-12">
        <h2>@ViewBag.Title</h2>
        <p>Some sample buttons. You can find more components in the MDBootstrap website.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="https://mdbootstrap.com/docs/jquery/components/demo/" target="_blank">More components</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-link">Link</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <button class="btn peach-gradient">Peach</button>
        <button class="btn purple-gradient">Purple</button>
        <button class="btn blue-gradient">Blue</button>
        <button class="btn aqua-gradient">Aqua</button>
    </div>
</div>
