

<h2>@ViewBag.Title</h2>

<p>You should start exploring containers to give the layout to your application</p>

<a href="https://mdbootstrap.com/docs/jquery/layout/overview/" target="_blank">Here you have more info</a>